<footer class="footer">
            <div class="footer_bottom">
                <span class="footer_heading">Nhóm 17: Website đọc sách trực tuyến kết hợp với nghe nhạc thư giãn trong lúc đọc
                </span>
                <div class="grid wide">
                    <div class="row">
                        <div class="footer_menber-item col l-4">
                            <a href="https://www.facebook.com/nguyentranhoang.loi/" class="footer_menber-item-link">Nguyễn Trần Hoàng Lợi <br> 19520152 </a>
                        </div>
                        <div class="footer_menber-item col l-4">
                            <a href="https://www.facebook.com/anhkhoa240601" class="footer_menber-item-link">Đặng Trần Anh Khoa <br> 19520629 </a>
                        </div>
                        <div class="footer_menber-item col l-4">
                            <a href="https://www.facebook.com/khanhduy912" class="footer_menber-item-link">Đặng Ngọc Khánh Duy <br> 18520656 </a>
                        </div>

                        </div>
                    </div>
                </div>
                <p class="footer_text">Địa chỉ: Khu phố 6, phường Linh Trung, quận Thủ Đức, TP Hồ Chí Minh. Tổng đài hỗ trợ: 0702817585. Email: 19520152@gm.uit.edu.vn <br>
                    Design & Front-end: Nguyễn Trần Hoàng Lợi <br>
                    Design & Back-end: Đặng Trần Anh Khoa <br>
                    Front-end & Back-end: Đặng Ngọc Khánh Duy <br>
                    © 2021 - Bản quyền thuộc về Công ty TNHH LKD

                </p>
            </div>
        </footer>